{% extends 'main.html' %}
{% block title %}Dashboard{% endblock %}
{% block encabezado %}
<h3 class="page-header"><i class="fa fa-laptop"></i> Dashboard</h3>
<ol class="breadcrumb">
    <li><i class="fa fa-home"></i><a href="/">Home</a></li>
    <li><i class="fa fa-laptop"></i>Dashboard</li>
</ol>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                Cabeza
            </div>
            <div class="panel-body">
                Cuerpo
            </div>
            <div class="panel-footer">
                Pie
            </div>
        </div>
    </div>
</div>
{% endblock %}